<div class="my-container">
  <div class="seasons-header">
    <%= link_to root_path, class:"league-back-button" do %>
      <i class="fa-solid fa-arrow-rotate-left"></i>
    <% end %>
    <h1>SAISONS</h1>
  </div>
  <div class="season-cards">
    <% @seasons.each do |season| %>
      <div class="season-card">
        <%= link_to season_path(season) do %>
          <h2>SAISON <%= season.name %></h2>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
