
<div class="my-container">
  <div class="seasons-header">
    <%= link_to seasons_path, class:"league-back-button" do %>
      <i class="fa-solid fa-arrow-rotate-left"></i>
    <% end %>
    <h1>LIGUES</h1>
  </div>
  <div class="league-cards">
    <% @leagues.each do |league| %>
      <div class="league-card">
        <%= link_to league_path(league) do %>
          <h2><%= league.name.upcase %></h2>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
