.season-cards {
  padding-top: 12vh;
 }

 .season-card {
   background: $yellow;
   width: 33%;
   margin: 0 auto;
   text-align: center;
   border-radius: 6px;
   border: 1px solid $black;
   padding-top: 2px;
   a {
     color: $dark-gray;
   }
   a:hover {
     color: $black;
   }
   h2 {
     margin: 0;
   }
 }
