h1 {
  color: $white;
}

a {
  text-decoration: none;
}

.matchweek-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.matchweek-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    width: 50px;
    height: 100%;
    text-align: center;
  }
}

.matchweek-back-button {
  margin-right: 24px;
  border: 1px solid $yellow;
  border-radius: 50%;
  i {
    font-size: 30px;
    padding: 9px;
  }
}

.headers-buttons {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-button {
  width: 60px;
  background: $black;
  border: 1px solid $yellow;
  border-radius: 30px;
  a {
    color: $yellow;
  }
}

.back-link {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    margin: 0;
  }
}

.next-button {
  width: 60px;
  background: $black;
  border: 1px solid $yellow;
  border-radius: 30px;
  a {
    color: $yellow;
  }
}

.next-link {
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    margin: 0;
  }
}

.matchweek-matches {
  background: $black-linear;
  border-radius: 6px;
}

.matchweek-matchcards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 808px;
  width: 100%;
  overflow: auto;
  // border-radius: 6px;
}

.matchweek-matchcard-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-top: 24px;
  h4 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.matchweek-matchcard-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin-bottom: 24px;
  p {
    margin: 0;
  }
  h4 {
    margin: 0;
  }
}

.matchweek-matchcard {
  width: 300px;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: $transparent;
  color: $white;
  border-radius: 6px;
  border: 1px solid $dark-gray;
  margin: 12px;
  h4 {
    color: $yellow;
  }
}

.bottom-score {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

@media screen and (max-width: 600px) {
  .headers-buttons {
    width: 150px;
  }
}
