.bet-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;
  margin: 0 auto;
}

.bet-team-1, .bet-team-2 {
  width: 30%;
  height: 300px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $yellow;
  justify-content: flex-end;
  h3 {
    margin-top: 12px;
  }
  h5 {
    margin-top: 12px;
    margin-bottom: 24px;
    color: $white;
  }
}

.last-five-matches {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.last-five-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  background: $black-linear;
  color: $white;
  padding-top: 12px;
  border-radius: 6px;
}

.last-five-card-top {
  display: flex;
  align-items: center;
  h4 {
    margin: 0;
  }
}

.last-five-dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.last-five-dates-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  color: $white;
}

.last-five-dates-card-bottom {
  text-align: center;
}

.new-bet-card {
  width: 30%;
  min-height: 300px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: $black-linear;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    color: $white;
  }
}

.bet-form-title {
  font-family: $headers-font;
  color: $yellow;
  font-size: 48px;
}

.bet-form-input {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 24px;
}

.bet-form-submit {
  background-color: $yellow;
  color: $black;
  border-width: 0;
  border-radius: 6px;
}

@media screen and (max-width: 1000px) {
  .last-five-matches {
    display: none;
  }

  .last-five-dates {
    display: none;
  }

  .last-five-matches-title {
    display: none;
  }

  .new-bet-card {
    position: absolute;
    top: 180px;
    min-height: 240px;
    width: 100%;
  }

  .bet-team-1 {
    position: absolute;
    top: 360px;
    left: 0;
    width: 180px;
    h3 {
      font-size: 18px;
    }
  }

  .bet-team-2 {
    position: absolute;
    top: 360px;
    right: 0;
    width: 180px;
    h3 {
      font-size: 18px;
    }
  }
}
