.chat-container {
  margin-top: 12px;
}

.msg-form {
  position: fixed;
  bottom: 0;
  width: 75%
}

.col-md-10 {
  height: 85vh;
  width: 80%;
  overflow: scroll;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}

.message-box {
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555 ;
  padding: 10px
}
