.chat-container {
  margin: 60px;
  margin-top: 12px;
  margin-bottom: 0;
}

.msg-form {
  position: fixed;
  bottom: 0;
  width: 78%
}

.col-md-10 {
  height: 89vh;
  overflow: scroll;
}

.msg-content {
  padding-left: 12px;
}

.message-box {
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #555555 ;
  padding: 10px
}

.chat-left {
  width: 25%;
  h1 {
    color: $yellow;
  }
}

.chat-right {
  width: 75%;
  background: $black-linear;
  border-radius: 6px;
}

.chat-users-perso {
  a {
    color: $white;
  }
}

.chat-rooms-perso {
  a {
    color: $white;
  }
}

.messagebar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.messagebar-container {
  position: absolute;
  bottom: 16px;
  right: 65px;
  width: 70%;
}

.chat-box-container {
  justify-content: space-between;
}
