.navbar-lewagon {
  justify-content: space-between;
  background: $black-linear;
  position: sticky;
  top: 0;
  height: 6vh;
  color: $white;
  border-bottom: 1px solid $dark-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
 .nav-link {
  color: white;
 }

 .dropdown-menu {
  background-color: $yellow;
  color: $black;
 }

 .dropdown-item-perso:hover {
  background-color: $yellow;
  color: $black;
 }

 .login {
  color: $yellow;
 }

 .dropdown-perso {
  text-align: end;
 }

 .container-fluid-perso {
  display: flex;
  flex-wrap: inherit;
  justify-content: space-between;
  width: 100%;
 }

 .navbar-brand-perso {
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 24px;
  height: 60px;
  width: 60px;
 }

 #navbarSupportedContent {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: end;
  margin-right: 24px;
 }

 @media screen and (max-width: 1000px) {
  .navbar {
    height: 90px;
  }
 }
